*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.ft-main{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px 30px;
}
.ft-form{
    text-align: center; 
    padding: 10px 15px;
    color: #eee;
}
input{
    margin: 12px 0px;
    padding: 12px 50px;
}
button{
    padding: 10px 30px;
    background-color: #555555;
    color: white;
    border: 1px solid white;
}
button:hover{
    background-color: white;
    color: #555555;
}
ul{
    list-style: none;
    padding-left: 0;
}
footer{
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
    word-spacing: 1;
}
footer a{
    text-decoration: none;
    color: #eee;
}
a:hover{
    text-decoration: underline;
}
.ft-title{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}